.container__fav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: 20%;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 600px){
  .container__fav{
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    padding: 2em 0em 0em 0em;
  }
}
